# Cipher Breaker
The following are examples of attacks against various encryption schemes and comparison of runtimes between distributed and non-distributed attacks.

In [1]:
%load_ext autoreload
%autoreload 2

import cipher_helper
import pandas as pd
import numpy as np
import ray
import hashlib
import random

ray.init()

2021-12-04 15:40:52,306	INFO services.py:1092 -- View the Ray dashboard at http://127.0.0.1:8265

{'node_ip_address': '129.65.17.223',
 'raylet_ip_address': '129.65.17.223',
 'redis_address': '129.65.17.223:6379',
 'object_store_address': '/tmp/ray/session_2021-12-04_15-40-51_824108_8306/sockets/plasma_store',
 'raylet_socket_name': '/tmp/ray/session_2021-12-04_15-40-51_824108_8306/sockets/raylet',
 'webui_url': '127.0.0.1:8265',
 'session_dir': '/tmp/ray/session_2021-12-04_15-40-51_824108_8306',
 'metrics_export_port': 53509,
 'node_id': '5c26f063d09b122f5e4ea745de129187949c674f'}

## Monoalphabetic/Ceaser Cipher
A monoalphabetic cipher is an encryption scheme in which each character of a plain text, is encrypted with the same key. An example of this is the Ceaser Cipher. In this encryption scheme, letters in the plain text and key are converted into a value in $Z_{26}$. The key is then added to each letter using modular addition and converted back into a letter. Here is an example of a text encrypted with each letter in the alphabet.

In [2]:
data = list()
for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ":
    cipher_text = cipher_helper.encrypt_cipher_text("A DOG", letter)
    data.append((letter, cipher_text))
    
df = pd.DataFrame(data, columns=["Key", "Cipher Text"])
df

   Key Cipher Text
0    A       A DOG
1    B       B EPH
2    C       C FQI
3    D       D GRJ
4    E       E HSK
5    F       F ITL
6    G       G JUM
7    H       H KVN
8    I       I LWO
9    J       J MXP
10   K       K NYQ
11   L       L OZR
12   M       M PAS
13   N       N QBT
14   O       O RCU
15   P       P SDV
16   Q       Q TEW
17   R       R UFX
18   S       S VGY
19   T       T WHZ
20   U       U XIA
21   V       V YJB
22   W       W ZKC
23   X       X ALD
24   Y       Y BME
25   Z       Z CNF

Since this cipher using cyclic addition, we can use the same algorithm to decrypt the cipher text. The key used for decryption is:
    26 - the orginal key
Thus, a cipher text encrypted with H can be decrypted with T.

In [3]:
cipher_helper.encrypt_cipher_text("H KVN", "T")

'A DOG'

The following function will do this automatically with the original key.

In [4]:
cipher_helper.decrypt_cipher_text("H KVN", "H")

'A DOG'

### Chi-Squared and English Distribution of Letters
If we want to find the orginal plain text, we can try each letter in the English alphabet. Since there are only 26, this takes a trivial amount of time. However, we need a programatic way to verify which cipher text is valid. We can look at the distribution letters in each attempted plain text and compare it to the standard distribution of letters in the English language. The following distribution is from wikipedia:

In [5]:
english_letter_freq = cipher_helper.english_letter_frequency_pd()
english_letter_freq

   Letter  Frequency
0       A    0.08200
1       B    0.01500
2       C    0.02800
3       D    0.04300
4       E    0.13000
5       F    0.02200
6       G    0.02000
7       H    0.06100
8       I    0.07000
9       J    0.00150
10      K    0.00770
11      L    0.04000
12      M    0.02400
13      N    0.06700
14      O    0.07500
15      P    0.01900
16      Q    0.00095
17      R    0.06000
18      S    0.06300
19      T    0.09100
20      U    0.02800
21      V    0.00980
22      W    0.02400
23      X    0.15000
24      Y    0.02000
25      Z    0.00074

Here is an example letter frequency for a sample text:

In [6]:
example1 = """
The Road Not Taken 
BY ROBERT FROST
Two roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;

Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same,

And both that morning equally lay
In leaves no step had trodden black.
Oh, I kept the first for another day!
Yet knowing how way leads on to way,
I doubted if I should ever come back.

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and I—
I took the one less traveled by,
And that has made all the difference.
""".upper()

result1 = cipher_helper.get_letter_frequency_as_df(example1)
result1

   Letter  Frequency
0       A   0.099494
1       B   0.023609
2       C   0.015177
3       D   0.062395
4       E   0.119730
5       F   0.015177
6       G   0.023609
7       H   0.062395
8       I   0.050590
9       J   0.001686
10      K   0.013491
11      L   0.043845
12      M   0.011804
13      N   0.065767
14      O   0.089376
15      P   0.008432
16      Q   0.001686
17      R   0.060708
18      S   0.055649
19      T   0.094435
20      U   0.016863
21      V   0.013491
22      W   0.030354
23      X   0.000000
24      Y   0.020236
25      Z   0.000000

By calculating the chi-squared statistic between the standard english distribution and a sample text's distribution, we can create an index to rank how "human readable" a text is. A lower "statistic" indicates a more readable text.

In [7]:
cipher_helper.chi_squared_statistic(result1, english_letter_freq)

Power_divergenceResult(statistic=0.21169776576252902, pvalue=1.0)

The following function automatically scores a text using the chi_square_statistic function.

In [8]:
cipher_helper.score_text(example1)

0.21169776576252902

### Brute-Force Ceaser Cipher
The key space for a Ceaser Cipher is really small. Thus, we can try to decrypt a cipher text with every possible key and pick the plain text with the best readability score.

In [9]:
example2 = """
The Raven
BY EDGAR ALLAN POE
Once upon a midnight dreary, while I pondered, weak and weary,
Over many a quaint and curious volume of forgotten lore—
    While I nodded, nearly napping, suddenly there came a tapping,
As of some one gently rapping, rapping at my chamber door.
“’Tis some visitor,” I muttered, “tapping at my chamber door—
            Only this and nothing more.”

    Ah, distinctly I remember it was in the bleak December;
And each separate dying ember wrought its ghost upon the floor.
    Eagerly I wished the morrow;—vainly I had sought to borrow
    From my books surcease of sorrow—sorrow for the lost Lenore—
For the rare and radiant maiden whom the angels name Lenore—
            Nameless here for evermore.
""".upper()

cipher_text2 = cipher_helper.encrypt_cipher_text(example2, "K")

cipher_helper.brute_force_ceaser_cipher(cipher_text2)

         key                                               text
score
0.234049   K  \nTHE RAVEN\nBY EDGAR ALLAN POE\nONCE UPON A M...

The following is a distributed version of the same code using ray.

In [10]:
cipher_helper.distributed_brute_force_ceaser_cipher(cipher_text2)

         key                                               text
score
0.234049   K  \nTHE RAVEN\nBY EDGAR ALLAN POE\nONCE UPON A M...

Now we will compare the runtimes for each function.

In [11]:
%timeit cipher_helper.brute_force_ceaser_cipher(cipher_text2)
%timeit cipher_helper.distributed_brute_force_ceaser_cipher(cipher_text2)

71.7 ms ± 3.42 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
26.8 ms ± 3.83 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

Even for a small key space, distributed computed has cut our runtime in half. In the next section, we will do a similar comparision with a much larger key space.

# Vigenere Cipher
A Vigenere cipher uses a key word to encrypt/decrypt a plain text. Here is an example:

In [12]:
vigenere_example1 = "A" * 30
vigenere_key1 = "DOG"

vigenere_result1 = cipher_helper.encrypt_cipher_text_vigenere(vigenere_example1, vigenere_key1)
print(vigenere_result1)

vigenere_result2 = cipher_helper.decrypt_cipher_text_vigenere(vigenere_result1, vigenere_key1)
print(vigenere_result2)

DOGDOGDOGDOGDOGDOGDOGDOGDOGDOG
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

Next, we need to generate keys. The following code generates all keys of length 2 or less.

In [13]:
pd.DataFrame(cipher_helper.generate_vigenere_keys(2))

      0
0    AA
1    AB
2    AC
3    AD
4    AE
..   ..
697   V
698   W
699   X
700   Y
701   Z

[702 rows x 1 columns]

We can brute force vigenere ciphers by generrating all possible keys, decrypting with each key, and scoring each result. In the next example, the correct result is the plain text with the second lowest score.

In [14]:
cipher_text = cipher_helper.encrypt_cipher_text_vigenere("""Do Not Stand at My Grave and Weep
    Do not stand at my grave and weep
    I am not there; I do not sleep.
    I am a thousand winds that blow,
    I am the diamond glints on snow,
    I am the sun on ripened grain,
    I am the gentle autumn rain.
    When you awaken in the morning’s hush
    I am the swift uplifting rush
    Of quiet birds in circled flight.
    I am the soft stars that shine at night.
    Do not stand at my grave and cry,
    I am not there; I did not die.""", key="DOG")
cipher_helper.brute_force_vigenere_cipher(cipher_text, key_length=3, num_of_results=7)

          key                                         plain text
score
0.251830  DOR  DO NOI SIANS AI MN GGAVT ACD LEEE\n    SO COT ...
0.278552  DOG  DO NOT STAND AT MY GRAVE AND WEEP\n    DO NOT ...
0.345969  OOG  SO COT STPND AT MY GRPVE ANS WTEP\n    DD NDT ...
0.404747  ZOG  HO ROT STEND AT MY GREVE ANH WIEP\n    DS NST ...
0.418233  DOS  DO NOH SHANR AH MM GFAVS ABD KEED\n    RO BOT ...
0.420217  DOW  DO NOD SDANN AD MI GBAVO AXD GEEZ\n    NO XOT ...
0.421954  KOG  WO GOT STTND AT MY GRTVE ANW WXEP\n    DH NHT ...

The runtime for generating vigenere keys and for brute forcing vigenere ciphers can be decreased by distributing them.

In [15]:
# Key generation
%timeit cipher_helper.generate_vigenere_keys(4)
%timeit cipher_helper.distributed_generate_vigenere_keys(4)

70.2 ms ± 2.53 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
137 ms ± 4.22 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [16]:
%timeit cipher_helper.brute_force_vigenere_cipher(cipher_text, 3)
# Brute force (with non-distributed key generation)
%timeit cipher_helper.distributed_brute_force_ceaser_cipher(cipher_text, 3)
# Brute force (with distributed key generation)
%timeit cipher_helper.final_distributed_brute_force_vigenere_cipher(cipher_text,3)

49.3 s ± 189 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
23.6 ms ± 2.03 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
45 s ± 123 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

Interestingly, calling the distributed key generation function inside the final brute force method significantly _increased_ the runtime.

# Rainbow Tables and MD5
MD5 was a cryptographically secure hashing algorithm. MD5 was broken in 2004 by use of the birthday paradox. As a result, researchers were able to produce documents that hashed to the same value.
Furthermore, hashing algorithms in general are vulnerable to rainbow table attcks. Rainbow tables are passwords (or other values) mapped to their known hash values. Thus, if a list of password hashes is leaked to the internet, rainbow tables can be used to search for matches and find passwords. Real world rainbow tables are large and usually hidden behind a pay wall. For my experiment, I will be generating a small rainbow table and attempt to crack a randomly generate password from the rainbow table.

In [2]:
# Here are some of the passwords in rockyou.txt (a list of common passwords)
rockyou = open("rockyou.txt", encoding="latin-1")
rockyou = [word.replace('\n', '') for word in rockyou.readlines()]

# We further shrink the word list to make it easier to compute
rockyou = random.choices(rockyou, k = 1000000)
rockyou[:10]

['bng731',
 'beloca',
 'lolimopop1',
 'artidea',
 'leekordovan',
 'chobits7',
 'itteren',
 'ilydb<3',
 'cw82ws',
 'hector96']

In [3]:
# Here we create a panda data frame with a password and hash column
rainbow_table_list = list()
for word in rockyou:
    _hash = hashlib.md5(word.encode('utf-8')).digest().hex()
    rainbow_table_list.append(
        (word, _hash)
    )
    
rainbow_table = pd.DataFrame(rainbow_table_list, columns=['password', 'hash'])
rainbow_table

               password                              hash
0                bng731  4aaf3858e097fcac8f7d49036c2224c1
1                beloca  ba6bcd5c7dafc69c1046c483cb5c95c1
2            lolimopop1  596e23efb0d41d9ef50d2f2e1ac10c35
3               artidea  79727d1518dda5c6e9a6679c37ad5b3a
4           leekordovan  ad292865b18829c1ec962d3e20f5662e
...                 ...                               ...
999995         tripping  edcf46c324ae8001a1198f4498f60135
999996       0715334993  6f470c0f86a7259ed5f56967cbc6e948
999997  ricsimergeafara  e8dcb3596a9063bca26292cef5245fd2
999998         88196615  cb7d426cfdc11fe9fd477fffefe8238f
999999           jj1303  038d20f10352460210aa00406c484587

[1000000 rows x 2 columns]

Next we will randomly choose and hash a password from "rockyou.txt".

In [4]:
random_password = random.choice(rockyou)
random_hash = hashlib.md5(random_password.encode('utf-8')).digest().hex()

print(f"Random Password: {random_password}")
print(f"Random Hash: {random_hash}")

Random Password: chad1988
Random Hash: e373f814a08f212b5d3a672f5e739058

The following is a function that uses the rainbow table to find a matching password.

In [5]:
cipher_helper.find_password_by_hash(random_hash, rainbow_table)

        password                              hash
662807  chad1988  e373f814a08f212b5d3a672f5e739058

Next, we will run a distributed version of this function. This version of our algorithm batches the rainbow table into 10 smaller dataframes. The results of each batch are combined using the pd.concat function and ray.get.

In [6]:
cipher_helper.distributed_find_password_by_hash(random_hash, rainbow_table)

        password                              hash
662807  chad1988  e373f814a08f212b5d3a672f5e739058

The following will comapre the times.

In [7]:
%timeit cipher_helper.find_password_by_hash(random_hash, rainbow_table)
%timeit cipher_helper.distributed_find_password_by_hash(random_hash, rainbow_table)

48.9 ms ± 2.58 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
8 s ± 52.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

Even when batching, ray takes longer to find a matching hash. This can possibly be improved by turning the `rainbow_table` into a spark rdd and using map-reduce functions.

In [9]:
from pyspark import SparkConf
from pyspark.context import SparkContext

sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))

In [22]:
rainbow_rdd = sc.parallelize(rainbow_table_list).map(lambda s: (s[0], s[1]))

def spark_find_hash_collision(_hash):
    rdd = rainbow_rdd.filter(lambda k: k[1] == _hash)
    return rdd.collect()
    
    
spark_find_hash_collision(random_hash)

[('chad1988', 'e373f814a08f212b5d3a672f5e739058')]

In [ ]:
# Another time comparison
%timeit cipher_helper.find_password_by_hash(random_hash, rainbow_table)
# ray
%timeit cipher_helper.distributed_find_password_by_hash(random_hash, rainbow_table)
# spark
%timeit spark_find_hash_collision(random_hash)

48.8 ms ± 1.86 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

While Spark is significantly faster than Ray, our non-distributed implementation is still faster than my Spark implementation.

# Conclusion